LKDAL/LKLibrary/Service References/DosyaServisi/FileOperationServices21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://server/LKERP/Service/" elementFormDefault="qualified" targetNamespace="http://server/LKERP/Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileResult" nillable="true" type="tns:SenfoniFiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SenfoniFiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileByteArray" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SenfoniFiles" nillable="true" type="tns:SenfoniFiles" />
  <xs:element name="SaveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="tns:SenfoniFiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDirectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDirectoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>