LKUI/LKUI/Service References/EntegrasyonServisi/EntegrasyonServisi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MalzemeleriEntegreEt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MalzemeleriEntegreEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MalzemeleriEntegreEtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MalzemeBirimleriEntegreEt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MalzemeBirimleriEntegreEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MalzemeBirimleriEntegreEtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmalariEntegreEt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmalariEntegreEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirmalariEntegreEtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelleriEntegreEt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelleriEntegreEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonelleriEntegreEtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelBolumleriEntegreEt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelBolumleriEntegreEtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonelBolumleriEntegreEtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>